{% load strconcat %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DRAG - Rate Fitness</title>
    {% block resources %}
        {% include "DRAG/renderresources.html" %}
    {% endblock %}
</head>
<body>
    {% block content %}
        {% include 'DRAG/scroller.html' %}
        {% include "DRAG/menu.html" %}
        <div class="container-fluid">
            {% include "DRAG/fitnessform.html" %}
        </div>
        {% include 'DRAG/footer.html' %}
    {% endblock %}
    {% block bodyscripts %}
        {% include "DRAG/bodyscripts.html" %}
    {% endblock %}
    <script src="{% static "js/keybindings.js" %}"></script>
</body>
</html>