{% block content %}
    {% load static %}
    {% load strconcat %}
    {% load returnindex %}
    <section id="fitnessform">
        <h1>Track Rating for Generation {{ request.session.current_generation }}</h1>
        <p>As in biological evolution only the fittest candidates survive! Listen to tracks
            and assign them a quality rating between 0 and 10. Click submit when you are finished. You may
            listen to the first 9 tracks with numeric key shortcuts (pressing 1 will play track 1). You
            can also use the tab key to switch between fitness inputs fast.

            Each track can be navigated easily in a grid system by using shift + a directional key to switch
            from track to track. Once a track is in focus you may use the Enter or Space key to play the track.</p>
        <form action="/RateFitness/" method="post">
            {% csrf_token %}
            <div class="row">
                {% for field in fitness_form %}
                    {% with counter=forloop.counter0 %}
                        {% with index=population|return_index:counter %}
                            <div class="col-md-3">
                                <h5>Track {{ forloop.counter }}:</h5>
                                <audio id="{{ "track"|str_concat:counter }}" class="track" controls>

                                    <source src="{{ "/DRAG/static/wavfiles/"|str_concat:request.session.user_id|str_concat:"candidate"|str_concat:counter|str_concat:".wav" }}"
                                            type="audio/wav">

                                </audio>

                                <label for="fitness">Enter 0-10: </label>
                                {{ field }}

                            </div>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" id="fitnesssubmit">
        </form>
    </section>
{% endblock %}