{% block content %}
    {% load strconcat %}
    <h1>Getting Started</h1>
    <p> Provide an input track to the genetic algorithm using one of the two options below. Also enter a BPM
    value between 60 and 250 for the speed of the tracks.</p>
    <section id="customtrack">
        <h2>Make a custom track...</h2>
        <p>To make a custom track, choose an instrument for each single 4/4 beat in <b>two bars</b> (eight notes)</p>
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p class="form-error">
                    <strong>{{ "*"|str_concat:error }}</strong>
                </p>
            {% endfor %}
        {% endif %}
        <form action="/Diversify/" method="post">
            {% csrf_token %}
            {{ form.beat_one }}
            {{ form.beat_two }}
            {{ form.beat_three }}
            {{ form.beat_four }}
            {{ form.beat_five }}
            {{ form.beat_six }}
            {{ form.beat_seven }}
            {{ form.beat_eight }}
            <div class="form-row">
                <label for="genre">Pick a genre: </label>
                {{ form.genre }}
            </div>
            <div class="form-element">
                <label for="bpm">Enter a BPM: </label>
                {{ form.bpm }}
            </div>
            <input type="submit" value="Confirm Input" class="btn btn-primary"/>
        </form>
    </section>
{% endblock %}