{% block content %}
    <h1>Getting Started</h1>
    <p> Provide an input track to the genetic algorithm using one of the two options below.</p>
    <section id="customtrack">
        <h2>Make a custom track...</h2>
        <p>To make a custom track, choose an instrument for each single 4/4 beat in <b>two bars</b> (eight notes)</p>
        <form action="/Diversify/" method="post">
            {% csrf_token %}
            {{ form.beatone }}
            {{ form.beattwo }}
            {{ form.beatthree }}
            {{ form.beatfour }}
            {{ form.beatfive }}
            {{ form.beatsix }}
            {{ form.beatseven }}
            {{ form.beateight }}
            <div class="form-row">
                <label for="genre">Pick a genre: </label>
                {{ form.genre }}
            </div>
            <div class="form-element">
                <label for="bpm">Enter a BPM: </label>
                {{ form.bpm }}
            </div>
            <input type="submit" value="Confirm Input" class="btn btn-primary"/>
        </form>
    </section>
{% endblock %}