{% block content %}
    <div class="container text-center">
        <section id="background">
            <h1>DRAG - Diversification Rhythm Algorithm Genetics</h1>
            <p>
              DRAG is both the name of a rudiment and this platform.
              DRAG uses an Interactive Genetic Algorithm to diversify
              a drum track either constructed by the user or from a
              selection of presets.
            </p>
        </section>
    </div>
    <div class="container-fluid text-center">
        <section id="diversify">
            <h2>Rhythm Diversifier</h2>
            <button type="button" class="btn btn-lg btn-outline-dark">Diversify Now</button>
        </section>
    </div>
{% endblock %}