{% block content %}
    {% load strconcat %}
    <section id="preset">
        <h2>Or use a preset</h2>
        {% if preset.errors %}
            {% for error in preset.non_field_errors %}
                <p class="form-error">
                    <strong>{{ "*"|str_concat:error }}</strong>
                </p>
            {% endfor %}
        {% endif %}
        <form action="/Preset/" method="post">
            {% csrf_token %}
            {{ preset.preset }}
            <div id="preview">
                <h5>Example - Rock at 200 BPM</h5>
                <audio controls>
                    <source src="/DRAG/static/wavfiles/preset_example.wav"
                            type="audio/wav">
                </audio>
            </div>
            <div class="form-element">
                <label for="bpmtwo">Enter a BPM: </label>
                {{ preset.bpm }}
            </div>
            <input type="submit" value="Confirm Input" class="btn btn-primary"/>
        </form>
    </section>
{% endblock %}