<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DRAG - Genetic Algorithm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block resources %} {% include 'DRAG/renderresources.html' %} {% endblock %}
    </head>
    <body>
        {% block content %}
            {% include 'DRAG/scroller.html' %}
            {% include 'DRAG/menu.html' %}
            <div id="forms-diversify" class="container">
                {% include 'DRAG/geneticform.html' %}
                {% include 'DRAG/presetform.html' %}
            </div>
            {% include 'DRAG/footer.html' %}
        {% endblock %}
        {% block bodyscripts %}
            {% include "DRAG/bodyscripts.html" %}
        {% endblock %}
    </body>
</html>