<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static from staticfiles %}
        {% load strconcat %}
        <meta charset="UTF-8">
        <title>DRAG - Congratulations!</title>
        {% block resources %}
            {% include "DRAG/renderresources.html" %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
            {% include "DRAG/menu.html" %}
            {% block fbody %}
                <div class="container-fluid">
                    {% include "finishbody.html" %}
                </div>
            {% endblock %}
            {% include 'DRAG/footer.html' %}
        {% endblock %}
        {% block bodyscripts %}
            {% include "DRAG/bodyscripts.html" %}
        {% endblock %}
        <script src="{% static "js/keybindings.js" %}"></script>
    </body>
</html>