<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DRAG - Machine Learning</title>
    {% block resources %}
        {% include "DRAG/renderresources.html" %}
    {% endblock %}
</head>
<body>
{% block content %}
    {% include "menu.html" %}
    {% include "scroller.html" %}
    {% block modal %}
        {% include "mlmodal.html" %}
    {% endblock %}
    <div class="container text-center" id="machinelearning">
        <h1>Click the big red button to start Machine Learning!</h1>
        <form action="/MachineLoad/" method="post">
            {% csrf_token %}
            <button id="big-red-button" type="button"
                    class="button button-3d button-circle button-caution button-jumbo"></button>
        </form>
    </div>
    {% include "DRAG/footer.html" %}
{% endblock %}
{% block bodyscripts %}
    {% include "DRAG/bodyscripts.html" %}
    <script src="{% static "js/jquery.blockUI.js" %}"></script>
    <script src="{% static "js/loader.js" %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static "styles/buttons.css" %}"/>
{% endblock %}
</body>
</html>