#header .carousel-inner img {
	width: 100%;
	margin: auto;
}

#header .carousel-inner {
	font-size: 24px;
}

.container {
	padding: 80px 120px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#background h1 {
	font-size: 2rem;
}

#background p {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

#customtrack {
    margin-bottom: 20px;
}

#preset {
	padding: 20px;
}

#diversify, #preset {
    background-color: #e6e6e6;
	padding-bottom: 60px;
}

#fitnessform {
    padding: 20px;
}

#fitnessform #fitnesssubmit {
    margin-top: 20px;
}

#fitnessform .fitness {
	margin-top: 10px;
	margin-bottom: 10px;
}

#diversify h2 {
    padding: 30px;
}

#footer {
	color: white;
	background-color: #343a40;
	padding: 40px;
}

form .cb {
    margin-bottom: 10px;
}

form .form-element {
	padding-top: 20px;
    padding-bottom: 20px;
}

.error {
    background-color: #e6e6e6;
    border-radius: 5px;
	margin-top: 20px;
    padding: 20px;
}