/*
* This file provides the styles to DRAG.
*/

#header .carousel-inner img {
    width: 100%;
    margin: auto;
}

#header .carousel-inner {
    font-size: 24px;
}

.container {
    padding: 80px 120px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#background h1 {
    font-size: 2rem;
}

#background p {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#customtrack {
    margin-bottom: 20px;
}

#preset {
    padding: 20px;
}

#diversify, #preset {
    background-color: #e6e6e6;
    padding-bottom: 60px;
}

#fitnessform {
    padding: 20px;
}

#fitnessform #fitnesssubmit {
    margin-top: 20px;
}

#fitnessform .fitness {
    margin-top: 10px;
    margin-bottom: 10px;
}

#diversify {
    background-image: url("/DRAG/static/images/code.jpg")
}

#diversify h2 {
    padding: 30px;
    color: white;
}

#about .about-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

#footer {
    color: white;
    background-color: #343a40;
    padding: 40px;
}

form .cb {
    margin-bottom: 10px;
}

form .form-element {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

#scroller {
    display: none;
    border-left: 5px solid #343a40;
    border-top: 5px solid #343a40;
    border-bottom: 5px solid #343a40;
    box-shadow: 5px 2px 10px black;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 300px;
    width: 50px;
    height: 100px;
    text-align: center;
    border-radius: 20px 0 0 20px;
    z-index: 100;
}

#scroller img {
    margin-top: 50%;
    min-width: 50%;
    min-height: 40%;
}

.confirmed {
    border: #00FF00 !important;
    box-shadow: 0 0 2px 0.2rem #00FF00 !important;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

@media only screen and (max-width: 800px) {
    .about-section img {
        margin-bottom: 20px;
    }

    #forms-diversify, #index-body, #about {
        padding: 20px;
    }

    #header .carousel-inner img {
        width: auto;
    }

}
