#header .carousel-inner img {
	width: 100%;
	margin: auto;
}

#header .carousel-inner {
	font-size: 24px;
}

.container {
	padding: 80px 120px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#background h1 {
	font-size: 2rem;
}

#background p {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

#diversify {
    background-color: #e6e6e6;
}

#diversify h2 {
    padding: 30px;
}

#diversify button {
    margin-bottom: 60px;
}
